<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>

    <style>
      body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; } h1
      { text-align: center; font-weight: bolder; color: red; } .body { margin: 0
      150px; font-size: 25px; color: green; }
    </style>

  </head>
  <body>
    <h1>{{header}}</h1>
    <div class='body'>
      <p>{{message}}</p>
    </div>

    <button class='btn btn-primary'>sdfsdf</button>

  </body>
</html>